<div class="container">
    <div class="left-section">
        <h2>Recursos</h2>
        <ul>
            <li>[C]ripto: {{ getResourceCount(0).toFixed(6) }}</li>
            <li>[D]ados: {{ getResourceCount(1) }}</li>
            <li>[M]emória: {{ getResourceCount(2) }}</li>
            <li>[P]rocessadores: {{ getResourceCount(3) }}</li>
            <li>[B]inários: {{ getResourceCount(4) }}</li>
        </ul>
    </div>

    <div class="center-section">
        <mat-tab-group animationDuration="0" [dynamicHeight]="true">
            <mat-tab label="Mineração">
                <div class="tab-container">
                    <button class="action-button" mat-raised-button (click)="manualCripto(manualCriptoCoinsRate * (getUpgrade(0).count * .25))">
                        Mineirar
                    </button>
                </div>
            </mat-tab>

            <mat-tab label="Upgrades">
                <div class="tab-container">
                    <button class="action-button" mat-raised-button 
                        [disabled]="getResourceCount(0) < getUpgrade(0).cost"                    
                        (click)="upgrade(0)"
                        matTooltip="Custo: {{ getUpgrade(0).cost.toFixed(6) }} C">
                        Melhorar Mineração
                    </button>
                    <button class="action-button" mat-raised-button 
                    [disabled]="getUpgrade(1).count == 1 || getResourceCount(0) < getUpgrade(1).cost"
                    (click)="upgrade(1)"
                        matTooltip="Custo: {{ getUpgrade(1).cost.toFixed(6) }} C">
                        Auto Mineração
                    </button>
                </div>
            </mat-tab>

            <mat-tab label="Daemons">
                <div class="tab-container">
                    <button class="action-button" mat-raised-button (click)="buyDaemon()"
                        [disabled]="getResourceCount(0) < getDaemonCost()"
                        matTooltip="Custo: {{ getDaemonCost().toFixed(6) }} C">
                        Comprar Daemon
                    </button>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>

    <div class="right-section">
        <h3>Melhorias</h3>
        <p>Mineração Manual - {{ (manualCriptoCoinsRate * (getUpgrade(0).count * .25)).toFixed(6) }} C</p>
        <p *ngIf="getUpgrade(1).count == 1">
            Mineração Automágica Ativa
        </p>

        <div class="deamons-section">
            <div *ngFor="let daemon of getDaemons()" class="daemon-item">
                <p class="daemon-info">{{ daemon.id }}-Daemon [{{ daemon.resource }}]</p>
                <div class="daemon-controls">
                    <button mat-icon-button (click)="toggleDaemon(daemon)">
                        <mat-icon>{{ daemon.isPaused ? 'pause' : 'play_arrow' }}</mat-icon>
                    </button>
                    <mat-progress-bar mode="determinate" [value]="daemon.progress"></mat-progress-bar>
                </div>
            </div>
        </div>        
    </div>
</div>