.container {
    display: flex;
    height: 100%;
}

.left-section,
.center-section,
.right-section {
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    flex-shrink: 0;
}

.left-section {
    width: 20%;
}

.center-section {
    flex-grow: 1;
    text-align: center;
    width: 50%;
}

.right-section {
    width: 30%;
}

.deamons-section {
    height: 30vw;
    overflow-y: auto;
}

.tab-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 16px;
}

mat-progress-bar {
    margin-top: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

button {
    margin: 10px;
    border-radius: 4px;
    padding: 8px 16px;
    text-transform: none;
}

button:disabled {
    pointer-events: none; /* Impede interações com o botão */
    user-select: none; /* Impede que o usuário selecione texto ao clicar */
}

.section {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha os itens no início */
    padding: 16px;
}

h2 {
    margin-bottom: 5px;
    align-self: flex-start; /* Garante que o título fique no começo */
}

.action-button {
    text-transform: none;
    width: 165px;
}

button.mat-raised-button {
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 14px;
}

.mat-tab-group {
    max-width: 100%;
    max-height: 100%;
}

.mat-tab-links {
    flex-wrap: wrap;
}

.daemon-item {
    margin-bottom: 16px;
}

.daemon-info {
    margin: 0 0 4px 0;
}

.daemon-controls {
    display: flex;
    align-items: center;
    gap: 8px;
}

.daemon-controls button {
    flex: 0 0 10%;
}

.daemon-controls mat-progress-bar {
    width: 50%;
}