<table class="resource-table">
    <thead>
        <tr>
            <th>Recurso</th>
            <th>Quantidade</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of getResources()" [ngClass]="{ 'hidden': !isResourceunlocked(r.type) }">
            <td>{{ r.name }}</td>
            <td>
                <span>{{ r.count }}/{{ r.max }}</span>
                <byo-progress-bar *ngIf="r.max > 0" [value]="(r.count / r.max) * 100"></byo-progress-bar>
            </td>
        </tr>
    </tbody>
</table>