.resource-table {
    width: 95%;
    border-collapse: collapse;
    table-layout: fixed;
    margin-top: 20px;
}

.resource-table th:nth-child(1),
.resource-table td:nth-child(1) {
    width: 60%;
    text-align: left;
}

.resource-table th:nth-child(2),
.resource-table td:nth-child(2) {
    width: 40%;
    text-align: right;
}

.hidden {
    display: none;
}