:root {
    --primary-100: #aa83bd;
    --primary-200: #7e52ad;
    --primary-500: #171523;
    --secondary-100: #67d385;
    --secondary-200: #289041;
    --secondary-300: #33644d;
    --neutral-100: #342c43;
    --neutral-200: #1c1423;
    --background-100: #1f1938;
    --background-200: #1a172c;
    --tooltip-background: #141a23;
    --text-color: #ffffff;
}

* {
    user-select: none;
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    
}

html {
    height: 100%;
}

html,
body {
    background-color: var(--background-100);
    color: var(--text-color);
    text-shadow: 0 0 5px var(--primary-200), 0 0 10px var(--primary-200);
}

button {
    background: var(--primary-500);
    cursor: pointer;
    color: var(--text-color);
    border: 1px solid var(--primary-200);
    transition: box-shadow 0.1s ease;
    padding: 8px 20px;

    &:disabled {
        background: var(--primary-500);
        border: 1px solid var(--neutral-200);
        cursor: not-allowed;
        box-shadow: none;
        opacity: 0.5;
        outline: none;
    }

    &:not(:disabled):hover {
        box-shadow: 0 0 8px var(--primary-100);
    }
}

.divider {
    width: 100%;
    height: 2px;
    background-color: var(--primary-200);
    margin: 8px 0;
}

.tooltip {
    position: fixed;
    background-color: var(--tooltip-background);
    color: var(--text-color);
    font-size: smaller;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid var(--primary-200);
    z-index: 1000;
    white-space: nowrap;
}

::-webkit-scrollbar {
    width: 8px;

}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-200);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--neutral-200);
    border-radius: 10px;
}